.App {
  text-align: center;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.1rem solid black;
  background-color: #282c34;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.App-link {
  color: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 0.1rem solid black;
  background-color: #282c34;
  color: white;
}

header > :first-child {
  margin-right: auto;
}

header > :last-child {
  margin-left: auto;
  gap: 1rem;
  display: flex;
}

.gameboard {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-item {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  margin: 1rem;
  padding: 1rem;
  background-color: aliceblue;
}

.card-item > img {
  width: 11vh;
}
